
<div class="content-grid">
  {{#each articles}}
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{user.avatar}}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="./articles/detail/{{_id}}">{{title}}</a></h4>
    <p class="content-text">{{content}}</p>
    <div>
      <span>{{user.username}}</span>
      <span>{{createAt}}</span>
    </div>
  </div>
</div>
{{/each}}
</div>