<div class="content-grid">
  <div class="content-padding">
    <p>{{detailText}}</p>
    <h2>{{detailText.title}}</h2>
    <p>{{detailText.content}}</p>
    <div class="btn-grid">
      <a class="btn btn-default" href="/articles/delete/{{detailText._id}}">修改</a>
      <a class="btn btn-danger" href="/articles/delete/{{detailText._id}}">删除</a>
    </div>
  </div>
</div>